* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 58);

}
.leftsection img{
    width: 400px;
    height: 400px;
}

.left {
    margin-left: 120px;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style: none;
    color: white;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(153, 153, 226);


}

main hr {
    border: 0;
    background-color: rgb(147, 147, 245);
    height: 2px;
    margin: 40px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 123px 0;
}


.leftsection {
    font-size: 2rem;
}

.rightsection img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(176, 108, 240);
}

#element {
    color: rgb(176, 108, 240);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 55px 0;
   display: flex;
}

.secondsection .vertical {
    background-color: white;
    width: 1px;
    height: 93px;
    margin: 0 150px;
}

.vertical-title{
position: relative;
top: 100px;
width: 150px;
font-size: 15px;
}

.vertical-desc{
position: relative;
top: 100px;
width: 150px;
color: gray;
font-size: 9px;
word-wrap:normal;
}

footer{
    height: 500pxpx;
    background-color: rgb(3, 3, 48);
}

footer .grey{
    color: grey;
}

footer{
    text-align: center;
}

.email{
    padding-top: 40px;
}

.phone{
    margin-right: 134px;
    padding-top: 20px
}

.social-icon{
    padding: 30px;
}

.social-icon a{
    justify-content: center;
    display:inline-flex;
    align-items: center ;
    background-color: transparent;
    border: 0.2rem solid rgb(147, 147, 245);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    transition: 0.3s ease;
    color: white;
}

.social-icon a:hover{
color: rgb(3, 3, 48);
transform: scale(1.0) translateY(-5px);
background-color: rgb(147, 147, 245);
box-shadow: 0 0 30px rgb(147, 147, 245);
}